Workflow/My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e9e8b9ec-734c-4152-9b4d-2687de0310ed",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "31f7fa6b-9630-402d-b59e-e43ba1aca056",
      "name": "Webhook",
      "webhookId": "e9e8b9ec-734c-4152-9b4d-2687de0310ed"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1T4MgljpsabY0YsNXW-Yi7KRoKQhGEDvugDlPR4FntaA",
          "mode": "list",
          "cachedResultName": "Leituras ESP32",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T4MgljpsabY0YsNXW-Yi7KRoKQhGEDvugDlPR4FntaA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Frequências",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T4MgljpsabY0YsNXW-Yi7KRoKQhGEDvugDlPR4FntaA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Frequência": "={{ $json.body.frequency }}",
            "Timestamp": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Frequência",
              "displayName": "Frequência",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        0
      ],
      "id": "49ac646a-0cd1-4c8d-aafb-1d3747f19b2c",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RGgaOmY6lSoVrsms",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analise a seguinte leitura de frequência:\n\nLeitura Atual:\nFrequência: {{ $('Webhook').item.json.body.frequency }} Hz\nTimestamp: {{ $('Webhook').item.json.body.timestamp }}\n\nCom base nas seguintes regras, classifique a frequência da \"Leitura Atual\" como \"normal\", \"pico\" ou \"anomalia\".\nA faixa de operação esperada para o sistema é de 100 Hz a 1750 Hz.\n- \"normal\": Se a frequência estiver entre 300 Hz e 1500 Hz (inclusive).\n- \"pico\": Se a frequência estiver acima de 1500 Hz.\n- \"anomalia\": Se a frequência estiver abaixo de 300 Hz.\n\nSua resposta DEVE conter APENAS UMA PALAVRA: \"normal\", \"pico\" ou \"anomalia\".",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        420,
        0
      ],
      "id": "dcf37a31-6a4e-487a-89d6-638616d7dde4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9fc49cee-f480-46b6-a245-5e34e92bb9c3",
              "leftValue": "={{ $json.output }}",
              "rightValue": "=pico",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "bb15755b-7f6f-4b34-9299-62ea90f98bd7",
              "leftValue": "={{ $json.output }}",
              "rightValue": "anomalia",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        0
      ],
      "id": "82a60349-5b0f-457d-a355-ae705116dd07",
      "name": "If"
    },
    {
      "parameters": {
        "model": "llama3-70b-8192",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        420,
        220
      ],
      "id": "ad049b2e-fad2-4b2b-9f97-460e0594bfa5",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "D8hLoZZCC8mx0o50",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "victormedeiros2580@gmail.com",
        "subject": "=ALERTA: Frequência {{ $('AI Agent').item.json.output }} Detectada! - {{ $('Webhook').item.json.body.frequency }} Hz",
        "message": "=<p>Prezados,</p> <p>Uma condi&ccedil;&atilde;o de **ALERTA** foi detectada pelo sistema de monitoramento de frequ&ecirc;ncia.</p> <p><strong>Detalhes:</strong></p> <ul>     <li><strong>Classifica&ccedil;&atilde;o da IA:</strong> {{ $('AI Agent').item.json.output }}</li>     <li><strong>Frequ&ecirc;ncia Detectada:</strong> {{ $('Webhook').item.json.body.frequency }} Hz</li>     <li><strong>Timestamp da Leitura:</strong> {{ $('Webhook').item.json.body.timestamp }}</li> </ul> <p>Por favor, verifique o sistema imediatamente.</p> <p>Atenciosamente,<br>Sistema de Monitoramento Autom&aacute;tico</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1840,
        -40
      ],
      "id": "d80493a0-4059-47e2-8c69-42a6affd62ad",
      "name": "Gmail",
      "webhookId": "5f78fcfc-26ef-4c6d-9deb-76411c850dc2",
      "credentials": {
        "gmailOAuth2": {
          "id": "qhCDAZyiJucVypip",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1T4MgljpsabY0YsNXW-Yi7KRoKQhGEDvugDlPR4FntaA",
          "mode": "list",
          "cachedResultName": "Leituras ESP32",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T4MgljpsabY0YsNXW-Yi7KRoKQhGEDvugDlPR4FntaA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 259468797,
          "mode": "list",
          "cachedResultName": "Alertas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T4MgljpsabY0YsNXW-Yi7KRoKQhGEDvugDlPR4FntaA/edit#gid=259468797"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1080,
        -20
      ],
      "id": "9554e8cf-a416-426f-9a9c-d7a12eda0f64",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RGgaOmY6lSoVrsms",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all(); // Obtém todos os dados de entrada\n\nif (rows.length > 0) {\n    // Ordena os timestamps em ordem crescente\n    rows.sort((a, b) => new Date(a.json.Timestamp).getTime() - new Date(b.json.Timestamp).getTime());\n\n    // Obtém o último timestamp\n    const ultimoTimestamp = new Date(rows[rows.length - 1].json.Timestamp).getTime();\n    const agora = new Date().getTime();\n\n    // Define o intervalo desejado (X minutos)\n    const minutos = 10; // Altere para o número de minutos desejado\n    const intervalo = minutos * 60 * 1000; // Converte minutos para milissegundos\n\n    // Retorna apenas true ou false\n    return [{ json: { passouXMinutos: (agora - ultimoTimestamp) >= intervalo } }];\n} else {\n    return [{ json: { passouXMinutos: false } }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        -20
      ],
      "id": "ca06bb16-4679-4153-a29e-6c7a5600ef53",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d66c374c-0452-41e6-88e8-496309f62e1e",
              "leftValue": "={{ $json.passouXMinutos }}",
              "rightValue": "=true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1540,
        -20
      ],
      "id": "b1c3b1d4-ab44-4b1a-bfc7-80329e511909",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1T4MgljpsabY0YsNXW-Yi7KRoKQhGEDvugDlPR4FntaA",
          "mode": "list",
          "cachedResultName": "Leituras ESP32",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T4MgljpsabY0YsNXW-Yi7KRoKQhGEDvugDlPR4FntaA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 259468797,
          "mode": "list",
          "cachedResultName": "Alertas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1T4MgljpsabY0YsNXW-Yi7KRoKQhGEDvugDlPR4FntaA/edit#gid=259468797"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}"
          },
          "matchingColumns": [
            "Timestamp"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2060,
        -40
      ],
      "id": "625707dd-5813-46be-bad1-b91640c13509",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RGgaOmY6lSoVrsms",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c936a2bc-1ab1-42b2-b907-e639ca76d4ae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "855e4a00504198316543e7cff2adc5924483d3dc1b36b6f2345b361ea9e1873e"
  },
  "id": "yUD4EKTJOuvwbVNI",
  "tags": []
}